.loginForm {
  max-width: 25rem;
  margin: 1rem auto;
  padding: 1.5rem;
}

.loginForm label {
  display: block;
  margin: 1.5rem auto;
}

.loginForm span {
  display: block;
  margin-bottom: 0.5rem;
}

.loginForm input {
  padding: 0.5rem;
  font-size: 1rem;
  color: #777;
  width: 100%;
}
