.navbar {
  box-sizing: border-box;
  background-color: #4ecdc4;
  padding: 1rem;
  width: 100%;
}

.navbar ul {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.navbar button,
.navbar a {
  display: inline-block;
  margin-left: 1rem;
}

.navbar a {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 0;
}

.title {
  font-weight: bold;
  margin-right: auto;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.title a {
  margin-left: 0;
}
