@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: Poppins, sans-serif;
  font-size: 1.1em;
  margin: 0;
  background-color: #f7f7f7;
}

p,
ul,
li,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.btn {
  background: none;
  border: 2px solid #264653;
  color: #264653;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  padding: 6px 12px;
}

.btn:hover {
  background: #264653;
  color: #fff;
}

.btn:disabled {
  background: #ccc;
  border: 2px solid #777;
  color: #fff;
}
